@{
    ViewData["Title"] = "Delete Movie";
}
@model MovieData

<h2>Confirm Delete</h2>
<h3>Are you sure you want to delete the record for @Model.title?</h3>

@*form to delete a record*@

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="movieList" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieId" />
</form>